/* body{
    background-color: aquamarine;
} */
#main-section {
    background-color: aquamarine;
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: flex-start;
    /* justify-content: center; */
}

.one {
    display: flex;
    background-color: white;
    width: 5%;
    height: 500px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;


}

.two {
    display: flex;
    background-color: white;
    /* width: 5%; */
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    font-size: larger;
    font-weight: bold;
}

.three {
    display: flex;
    background-color: white;
    /* width: 5%; */
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.four {
    display: flex;
    background-color: white;

    /* width: 5%; */
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    font-size: larger;
    font-weight: bold;
}

.five {
    display: flex;
    background-color: white;
    height: 500px;
    width: 200px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;

}